<!--<app-header [title]="'悬赏问答'">-->
  <!--<div class="left">-->
    <!--<span class="icon-cheveron-left">-->
    <!--</span>-->
  <!--</div>-->
  <!--<div class="right">-->
    <!--<i class="iconfont icon-fenxiang"></i>-->
  <!--</div>-->
<!--</app-header>-->
<div class="container">
  <main>
    <section class="describe">
    关注钢铁行业话题 <br> 等你来辩
    </section>

    <section class="article-wrap">
      <ul class="article">
        <li *ngFor="let articleObj of topicList">
          <h3 (click)="clickOpenDetail($event,articleObj)"><i class="icon-square"></i>{{articleObj?.title}}</h3>
          <div class="body" (click)="clickOpenDetail($event,articleObj)">
            <header>
              <div class="avatar"><img [src]="articleObj.faceIco" alt=""></div>
              <div class="name">
                <h6>{{articleObj?.name}} <em *ngIf="!!articleObj.optionName">我选：{{articleObj?.optionName}}</em></h6>
              </div>
            </header>
            <section class="content" >
              <span>{{articleObj.content}}</span>
            </section>

          </div>
          <div class="foot">
            <div class="left-foot">
              <span class="time">{{articleObj.date}} {{articleObj.time}}</span>
              <span class="progress" *ngIf="articleObj.isDoing">进行中</span>
            </div>
            <div class="right-foot">
              <span class="comment" (click)="clickOpenDetail($event,articleObj)">{{articleObj.comments}}条评论</span>
              <a class="more" *ngIf="!!articleObj.replyArticleURL"
                 href="{{articleObj.replyArticleURL}}">百家之言</a>
            </div>
          </div>
        </li>

      </ul>
    </section>


  </main>
</div>

