<!--<app-header [title]="'悬赏问答'">-->
  <!--<div class="left">-->
    <!--<span class="icon-cheveron-left">-->
    <!--</span>-->
  <!--</div>-->
  <!--<div class="right">-->
    <!--<i class="iconfont icon-fenxiang"></i>-->
  <!--</div>-->
<!--</app-header>-->
<div class="container">
  <main>
    <section class="describe">
    话题已出，等你来辩
    </section>

    <section class="article-wrap">
      <ul class="article" *ngIf="userService.checkHasInstallApp()">
        <li *ngFor="let articleObj of topicList">
          <h3 (click)="clickOpenDetail($event,articleObj)"><i class="icon-square"></i>{{articleObj?.title}}</h3>
          <div class="body" (click)="clickOpenDetail($event,articleObj)" *ngIf="!!articleObj.content">
            <header>
              <div class="avatar">
                <img [src]="articleObj.faceIco" alt="" *ngIf="!!articleObj.faceIco">
                <img src="./assets/icons/icon/avatar.png" alt="" *ngIf="!articleObj.faceIco">
              </div>
              <div class="name">
                <h6>{{articleObj?.name}} <em *ngIf="!!articleObj.optionName">我选：{{articleObj?.optionName}}</em></h6>
              </div>
            </header>
            <section class="content">
              <span>{{articleObj.content}}</span>
            </section>

          </div>
          <div class="foot">
            <div class="left-foot">
              <span class="time">{{articleObj.date2}}</span>
              <span class="my-progress" *ngIf="articleObj.isDoing">进行中</span>
            </div>
            <div class="right-foot">
              <span class="comment" (click)="clickOpenDetail($event,articleObj)">{{articleObj.comments}}条评论</span>
              <a class="more"
                 href="{{articleObj.replyArticleURL}}">{{articleObj.replyArticleURL?'百家之言':''}}</a>
            </div>
          </div>
        </li>

      </ul>

      <ul class="article" *ngIf="!userService.checkHasInstallApp()">
        <li *ngFor="let articleObj of topicList | slice:1:5">
          <h3 (click)="clickOpenDetail($event,articleObj)"><i class="icon-square"></i>{{articleObj?.title}}</h3>
          <div class="body" (click)="clickOpenDetail($event,articleObj)" *ngIf="!!articleObj.content">
            <header>
              <div class="avatar">
                <img [src]="articleObj.faceIco" alt="" *ngIf="!!articleObj.faceIco">
                <img src="./assets/icons/icon/avatar.png" alt="" *ngIf="!articleObj.faceIco">
              </div>
              <div class="name">
                <h6>{{articleObj?.name}} <em *ngIf="!!articleObj.optionName">我选：{{articleObj?.optionName}}</em></h6>
              </div>
            </header>
            <section class="content">
              <span>{{articleObj.content}}</span>
            </section>

          </div>
          <div class="foot">
            <div class="left-foot">
              <span class="time">{{articleObj.date2}}</span>
              <span class="my-progress" *ngIf="articleObj.isDoing">进行中</span>
            </div>
            <div class="right-foot">
              <span class="comment" (click)="clickOpenDetail($event,articleObj)">{{articleObj.comments}}条评论</span>
              <a class="more"
                 href="{{articleObj.replyArticleURL}}">{{articleObj.replyArticleURL?'百家之言':''}}</a>
            </div>
          </div>
        </li>
      </ul>
    </section>


  </main>
</div>

<app-install-app-bar [btnText]="'打开APP，查看全部话题'"></app-install-app-bar>
