@import "../../../../styles";

.install-bar-wrapper {
  //position: fixed;
  //bottom: rem(20);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: rem(20);
  .bar-inner {
    width: 80%;
    padding: rem(10) 0;
    border-radius: rem(20);
    background-color: $blue-normal;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    box-shadow: 0 0 rem(2) #ddd;
  }
}
