<!--<app-header [title]="'悬赏问答'" >
  <div class="left" routerLink="/reward-home">
    <span class="icon-cheveron-left">
    </span>
  </div>
  <div class="right">
    <i class="iconfont icon-fenxiang"></i>
  </div>
</app-header>-->

<div class="detail-container">
  <div class="top">
    <span>- 全部悬赏问答 -</span>
    <div class="btn-wrap">
      <a href="javascript:;" routerLink="/reward-home">查看</a>
    </div>
  </div>

  <main #scrollContainer>

    <div class="topic">
      <h3>{{articleDetailObj?.title}}</h3>
      <div class="body">
        <section class="content" [class.hide-more]="!showMore">
          <div [innerHTML]="articleDetailObj?.body">
          </div>


        </section>

      </div>
      <div class="foot">
        <div class="operate">
          <span class="icon-cheveron-down" *ngIf="!showMore" (click)="showMore=true"></span>
          <span class="icon-cheveron-up" *ngIf="showMore" (click)="showMore=false"></span>
        </div>
        <div class="left-foot">
          <i class="iconfont icon-systemprompt"></i>
          <ng-container *ngIf="articleDetailObj.showCountdown">
            <span class="txt-ctrl">距结束</span>
            <span class="time">{{articleDetailObj.countDownStr}}</span>
          </ng-container>
          <ng-container *ngIf="articleDetailObj.showEnd">
            <span class="txt-ctrl">已结束</span>
            <span class="time"></span>
          </ng-container>
          <ng-container *ngIf="articleDetailObj.showDoing">
            <span class="txt-ctrl my-progress">进行中</span>
            <span class="time"></span>
          </ng-container>


        </div>
        <div class="right-foot">

          <div class="comment" *ngIf="articleDetailObj?.showReward==='yes'">
            <img src="../../../assets/icons/icon/money.png" class="icon-money"/>
            <span>评论赢赏金</span>
          </div>
        </div>
      </div>
    </div>

    <app-pk #PKComponent [setData]="articleDetailObj.articleStandArr"
      (outFresh)="getDetail()"
    ></app-pk>

    <section class="box">
      <header class="input">
        <div class="avatar"><img src="../../../assets/icons/icon/avatar.png" alt=""></div>
        <input type="text" placeholder="说说我的想法" #ipt [(ngModel)]="commentValue" (keyup.enter)="sendComment($event)">
      </header>
      <div class="detail-content wonder" *ngFor="let wonderReply of wonderReplyList;">
        <h3><i class="icon-square"></i>精彩评论</h3>
        <header>
          <div class="avatar"><img [src]="wonderReply.faceIco" alt=""></div>
          <div class="name">
            <h6>{{wonderReply.name}} <em *ngIf="!!wonderReply.optionName">我选：{{wonderReply.optionName}}</em></h6>
            <span>{{wonderReply.createTime}}</span>
          </div>
        </header>
        <section class="main-comment">

          {{wonderReply.content}}
        </section>
        <footer>
          <div class="praise">

            <i class="iconfont icon-praise_fill active"
               [class.active]="wonderReply.isDigg==='yes'"
               (click)="clickPraise($event,wonderReply)"></i>
            <span (click)="clickPraise($event,wonderReply)"
                  *ngIf="wonderReply.digg!=='0'"
            >{{wonderReply.digg}}</span>
          </div>
          <div class="praise" (click)="clickCommentReply($event,ipt,wonderReply)">
            <i class="iconfont icon-message"></i>
            <span>{{wonderReply.comments}}</span>
          </div>

        </footer>
        <section class="origin-comment" *ngIf="!!wonderReply.toReplyId">
          <div>
            <span>{{wonderReply.toReplyName}}</span>：{{wonderReply.toReplyContent}}
          </div>
        </section>

      </div>

      <h3><i class="icon-square"></i>全部评论</h3>
      <div class="detail-content all-reply" *ngFor="let reply of allReplyList;">
        <header>
          <div class="avatar">
            <img [src]="reply.faceIco" alt="" *ngIf="!!reply.faceIco">
            <img src="../../../assets/icons/icon/avatar.png" alt="" *ngIf="!reply.faceIco">
          </div>
          <div class="name">
            <h6>{{reply.name}} <em *ngIf="!!reply.optionName">我选：{{reply.optionName}}</em></h6>
            <span>{{reply.createTime}}</span>
          </div>
        </header>
        <section class="main-comment">

          {{reply.content}}
        </section>
        <footer>
          <div class="praise" (click)="clickPraise($event,reply)">
            <i class="iconfont icon-praise_fill active"
               [class.active]="reply.isDigg==='yes'"
               ></i>
            <span
                  *ngIf="reply.digg!=='0'"
            >{{reply.digg}}</span>
          </div>
          <div class="praise" (click)="clickCommentReply($event,ipt,reply)">
            <i class="iconfont icon-message"></i>
            <span>{{reply.comments}}</span>
          </div>

        </footer>
        <section class="origin-comment" *ngIf="!!reply.toReplyId">
          <div>
            <span>{{reply.toReplyName}}：</span>{{reply.toReplyContent}}
          </div>
        </section>

      </div>
    </section>
  </main>

  <footer class="footer" *ngIf="articleDetailObj.showEnd">
    <span (click)="clickGoToWin($event)">获奖名单</span>
    <div class="line"></div>
    <a href="{{articleDetailObj.replyArticleURL}}">百家之言</a>
  </footer>
</div>



