/* You can add global styles to this file, and also import other style files */

/* reset */
html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea, menu {
  margin: 0;
  padding: 0;
}

header, footer, section, article, aside, nav, hgroup, address, figure, figcaption, menu, details {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th {
  text-align: left;
  font-weight: normal;
}

html, body, fieldset, img, iframe, abbr {
  border: 0;
}

i, cite, em, var, address, dfn {
  font-style: normal;
}

[hidefocus], summary {
  outline: 0;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, small {
  font-size: 100%;
}

sup, sub {
  font-size: 83%;
}

pre, code, kbd, samp {
  font-family: inherit;
}

q:before, q:after {
  content: none;
}

textarea {
  overflow: auto;
  resize: none;
}

label, summary {
  cursor: default;
}

a, button {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, em, strong, b {
  font-weight: bold;
}

del, ins, u, s, a, a:hover {
  text-decoration: none;
}

body, textarea, input, button, select, keygen, legend {
  font: 12px/1.14 arial, \5b8b\4f53;
  color: #333;
  outline: 0;
}

body {
  background: #fff;
}

a, a:hover {
  color: #333;
}

$ue-width: 375; /* ue图的宽度 */
$base-rem: $ue-width/10;

@function rem($px) {
  $rem: $base-rem;
  @return $px / $rem * 1rem;
}

body {
  font-size: rem(12) !important;
}

$blue-normal: #3a74d8;
$blue-light: #4080cf;
$blue-1: #f4f7f9;
$blue-2: #0066ff;

$white-1: #f4f7f9;
$white: #fff;

$gray-normal: #6b6f73;
$gray-1: #868890;
$gray-2: #b5bcc8;

$orange-normal: #ff6936;

$pink-normal: #f17f94;

$red-normal: #eb513d;

@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}


@media screen and (min-width: 320px) {
  html {font-size: 32px}
  body {font-size: 16px;}
}
@media screen and (min-width: 481px) and (max-width:640px) {
  html {font-size: 48px}
  body {font-size: 18px;}
}
@media screen and (min-width: 641px) {
  html {font-size: 64px}
  body {font-size: 20px;}
}
